<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WVZT4SD7ZY"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-WVZT4SD7ZY');
	</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#373737">
	<title>Today - Braint</title>
	<link rel="manifest" href="manifest.webmanifest">
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/static/style.css">
	<script src="//cdn.jsdelivr.net/npm/unlight/index.js"></script>
	<script src="/static/braint.js" defer></script>
	<script src="/static/navbar.js" defer></script>
	<script src="/static/task-manager.js" defer></script>
	<script src="/static/script.js" defer></script>
</head>
<body>
	<div id="navbar"></div>

	<h1>Today</h1>
	<br>

	<div id="uncompleted-tasks"></div>

	<h1 id="completed" title="Show/Hide Completed Tasks">Completed &nbsp;&nbsp;<i id="completed-dropdown-arrow" class="fa-solid fa-caret-down"></i></h1>
	<br>
	<div id="completed-tasks" style="visibility:hidden"></div>
  <br>
</body>
</html>